<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.ryzhang.dao.IUserDao">
    <select id="getUser" parameterType="java.lang.Integer" resultType="com.ryzhang.entity.UserEntity">
        SELECT id,name FROM tb_user WHERE id = #{id}
    </select>
    <insert id="addUser" parameterType="com.ryzhang.entity.UserEntity">
        INSERT INTO(id,name) tb_user VALUE (#{id},#{name})
    </insert>

</mapper>